name: Deploy Doxygen to Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            qt6-base-dev \
            qt6-tools-dev \
            qt6-tools-dev-tools \
            cmake \
            ninja-build \
            build-essential \
            clang-tidy \
            clang-format \
            doxygen \
            graphviz

      - name: Configure CMake
        run: |
          cmake -S . -B build \
            -DCMAKE_BUILD_TYPE=Release \
            -DENABLE_TESTS=OFF \
            -DENABLE_DOCS=ON \
            -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

      - name: Run Doxygen
        run: |
          DOXYFILE=$(find build -name Doxyfile | head -n 1)
          echo "Found Doxyfile at: $DOXYFILE"
          doxygen "$DOXYFILE"

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'doc/html'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4